.About {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    position: relative;
}

.About::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: linear-gradient(to top,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 1) 80%);
    z-index: 1;
}

.About::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 1) 80%);
}

.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 55vw;

}

.container-icon {
    display: flex;
    flex-direction: row;
    gap: 70px;
    opacity: 0;
    z-index: 1;
    transition: opacity 2000ms ease 2000ms;
}

.container-icon img:hover {
    filter: invert(1);
}

.container-icon.visible {
    opacity: 1;
    transition: 1000ms;
}

.description-image {
    background-size: cover;
    background-position: right center;
}

.description-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 34px;
    gap: 34px;
    margin-left: -40px;
    background-color: white;
    border-radius: 45px 0 0 45px;
    z-index: 1;
    box-shadow: -20px 0px 20px rgba(0, 0, 0, 0.6);
}




@media (max-width: 768px) {
    .About {
        flex-direction: column;
    }

    .Title {
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 12vw;
        padding-top: 17vw;
        padding-bottom: 10vw;
        padding-left: 0;
        height: auto;
    }

    .contenido {
        height: auto;
        font-family: 'Montserrat-Regular';
        font-size: .8em;
        letter-spacing: 0.03rem;
    }

    .contenedor-contenido {
        height: auto;
        justify-content: center;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .Descripcion {
        width: 100%;
        height: auto;
    }

    .Foto_desc {
        width: 100%;
        height: 100vw;
    }

    .contenedor-icon {
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        top: 0;
        width: 100%;
        height: auto;
        padding: 7vw 0;
    }
}












/* This is an example, feel free to delete this code */
.getlinks-container {
    background: rgb(3, 169, 244);
    background: linear-gradient(138deg,
            rgba(3, 169, 244, 1) 15%,
            rgba(63, 180, 233, 1) 65%);
    position: relative;
    cursor: pointer;
    font-size: 17px;
    padding: 0.7em 0.7em;
    border-radius: 50px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.getlinks-container:hover {
    background: #fff;
    transition: all 0.6s;
}

.getlinks-container .text {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;
    transition: all 0.2s;
}

.getlinks-container:hover .text {
    fill: rgb(3, 169, 244);
    transition: all 0.6s;
}





/* MEDIA BUTTONS/LINKS */
.tooltip-container {
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    border-radius: 10px;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.profile {
    background: #2a2b2f;
    border-radius: 10px 15px;
    padding: 10px;
    border: 1px solid #52382f;
}

.tooltip-container:hover .tooltip {
    top: -175px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.icon {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}

.layer {
    width: 110px;
    height: 110px;
    transition: transform 0.3s;
}

.icon:hover .layer {
    transform: rotate(-35deg) skew(20deg);
}

.layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px transparent;
    border-radius: 15px;
    transition: all 0.3s;
}


.layer span,
.text {
    /* color: #e6683c;
    border-color: #e6683c; */
}

.icon:hover .layer span {
    box-shadow: -1px 1px 5px #fbff008e;
}

.icon .text {
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

.icon:hover .text {
    bottom: -35px;
    opacity: 1;
}

.icon:hover .layer span:nth-child(1) {
    opacity: 0.4;
    color: #e6683c;
    border-color: #e6683c;
}

.icon:hover .layer span:nth-child(2) {
    opacity: 0.8;
    transform: translate(5px, -5px);
    color: #e6683c;
    border-color: #e6683c;
}

.icon:hover .layer span:nth-child(3) {
    opacity: 0.9;
    transform: translate(10px, -10px);
    color: #e6683c;
    border-color: #e6683c;
}

.icon:hover .layer span:nth-child(4) {
    opacity: 1;
    transform: translate(15px, -15px);
    color: #e6683c;
    border-color: #e6683c;
}

.icon:hover .layer span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
    color: #e6683c;
    border-color: #e6683c;
}

.instagramSVG {
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    background: linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.youtubeSVG {
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,
            #ff0000 0%,
            #cc0000 25%,
            #990000 50%,
            #660000 75%,
            #330000 100%);
    background: linear-gradient(45deg,
            #ff0000 0%,
            #cc0000 25%,
            #990000 50%,
            #660000 75%,
            #330000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#330000', GradientType=1);
}

.e-mailSVG {
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,
            #0072C6 0%,
            #005EB8 25%,
            #004C99 50%,
            #003E7E 75%,
            #002B5C 100%);
    background: linear-gradient(45deg,
            #0072C6 0%,
            #005EB8 25%,
            #004C99 50%,
            #003E7E 75%,
            #002B5C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0072C6', endColorstr='#002B5C', GradientType=1);
}

.soundbetterSVG {
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,
            #5B2C6F 0%,
            #7D3C98 25%,
            #A569BD 50%,
            #D2B4DE 75%,
            #F4D03F 100%);
    background: linear-gradient(45deg,
            #5B2C6F 0%,
            #7D3C98 25%,
            #A569BD 50%,
            #D2B4DE 75%,
            #F4D03F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5B2C6F', endColorstr='#F4D03F', GradientType=1);
}

.user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.img {
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 700;
    border: 1px solid #e6683c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.name {
    font-size: 17px;
    font-weight: 700;
    color: #e6683c;
}

.details {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #fff;
}

.about {
    color: #ccc;
    padding-top: 5px;
}