.Media {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px 50px 100px;
    background-color: rgb(255, 255, 255);
    gap: 90px;
    position: relative;

}



/* IMAGE SLIDER*/

.carousel-fotos {
    position: relative;
    width: 100%;
}

.carousel-fotos .swiper {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.carousel-fotos .swiper-wrapper {
    display: relative;
    width: 100%;
}

.carousel-fotos .swiper-slide {
    display: flexbox;
    width: 100%;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(3px 3px 3px black);

}




.carousel-video {
    width: 100%;
    height: auto;
    display: flex;
    gap: 0;
}

.carousel-video-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.carousel-video .swiper {
    display: flex;
    position: relative;
    overflow: visible;
    height: auto;
}


.carousel-video .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(3px 3px 3px black);
}

.video-swiper-pagination {
    position: absolute;
    display: flex;
    justify-content: center;
    transform: translateY(-80px);
}



/* 
.carousel-video .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-video .swiper-bullet {
    margin: 0px;

}

.carousel-video .swiper-pagination-container {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
} */