.Media {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px 50px 100px;
    background-color: yellow;
    gap: 90px;

}

.Title-media {
    width: 100vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Urbanist-Bold';
    font-size: 3vw;
    letter-spacing: 0.3rem;
}



/* IMAGE SLIDER*/

.carousel-fotos {
    position: relative;
    width: 100%;
}

.carousel-video {
    position: relative;
    width: 100%;
}


.carousel-fotos .swiper {
    background-color: aqua;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.carousel-fotos .swiper-wrapper {
    display: relative;
    width: 100%;
}

.carousel-fotos .swiper-slide {
    display: flexbox;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.carousel-video .swiper{
    position: relative;
    height: 700px;
    
}

.carousel-video .swiper-scrollbar{
    background-color: blue;
    position: absolute;
    top:0px;

}

.carousel-video .swiper-scrollbar-drag{
    background-color: blue;
    position: relative;
}



/* IMAGE SLIDER*/

.fotos-container {
    width: 100vw;
    height: auto;
    overflow: hidden;
    padding-bottom: 2vw;
}

.carousel-container {
    height: auto;
}